nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.pokeapi-image {
  width: 160px;
}

.searchbar-container {
  background-color: yellowgreen;
  display: flex;
  align-items: center;
}

.searchbar-container input {
  margin-right: 10px;
  height: 25px;
  border-radius: 4px;
}

.serach-btn button {
  height: 30px;
  padding: 0 25px;
  margin: none;
  border-radius: 4px;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-color: aqua;
  margin-bottom: 5px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-image-container {
  padding: 0px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}
.card-botton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.pagination-container button {
  border: none;
}

.not-found-text {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
}

.pokemon-heart-btn {
  border: none;
  padding: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
