@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Martian Mono", monospace;
}

body {
  background: linear-gradient(30deg, #1c315e, #227c70, #88a47c, #e6e2c3);
  animation: colors, 4s, ease, infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
